/* Basic style - to all elements on the page */
body {  
    background-color: rgb(243, 207, 198);     
    font-style: normal;      
    }

  h1 {
      font-family: Baskerville, Arial;
      font-size: 40px;
      text-shadow: 1px 1px grey;
      color: rgb(139, 0,0);
  }

  h2 {
      font-family: Baskerville, Arial;
      font-size: 30px;
      text-decoration: none;
      color: rgb(139, 0,0);
      }
    
    p {
        font-family: Baskerville, Arial;
        font-size: 20px;
        text-decoration: none;
        color: rgb(15, 15, 15);
    }
      
.navbar {
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
}

.navbar a {
  color: rgb(139, 0,0);
  padding: 14px 20px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: rgb(255, 182, 193);
}
